#titles
{
  text-align: center;
}

#loading {
  text-align: center;
}

#page
{
  margin:5%;
}

#searchResults {
  margin-left: 3%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightgrey;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

.grid-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
